* {
    font-family: sans-serif;
}

ul li {
    color: gray;
}

a {
    text-decoration: none;
    color: black;
    background-color: lightgrey;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    margin: 5px 3px;
}

.lc a {
    background-color: lightcoral;
}